body {
  text-align: center; }

html {
  background-color: #ddd; }

#main {
  padding-bottom: 50px;
  background-color: #ddd; }
  #main .title {
    font-size: 26px; }
  #main .text1 {
    font-size: 18px; }
  #main .yinyang {
    background-color: white;
    border-radius: 50px; }
  #main .layout-header {
    padding: 20px 0;
    background-color: black;
    color: white; }
  #main .layout-content {
    max-width: 960px;
    margin: 10px auto 10px;
    background: none;
    border: none; }
    #main .layout-content .arrow-drop {
      position: relative;
      top: 5px;
      right: 5px; }
      #main .layout-content .arrow-drop.up {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 20px solid black; }
      #main .layout-content .arrow-drop.right {
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-left: 20px solid black;
        border-bottom: 10px solid transparent; }
      #main .layout-content .arrow-drop.down {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 20px solid black; }
      #main .layout-content .arrow-drop.left {
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-right: 20px solid black;
        border-bottom: 10px solid transparent; }
    #main .layout-content .section {
      overflow: hidden; }
    #main .layout-content .anchor-link, #main .layout-content a.anchor-link {
      text-decoration: none;
      color: black;
      text-align: left;
      display: block; }
      #main .layout-content .anchor-link .anchor-tip, #main .layout-content a.anchor-link .anchor-tip {
        visibility: hidden; }
      #main .layout-content .anchor-link .text:hover .anchor-tip, #main .layout-content .anchor-link .area-title:hover .anchor-tip, #main .layout-content a.anchor-link .text:hover .anchor-tip, #main .layout-content a.anchor-link .area-title:hover .anchor-tip {
        visibility: visible;
        display: inline; }
    #main .layout-content .area-title-wrap {
      border-bottom: solid black 10px; }
      #main .layout-content .area-title-wrap .anchor-link {
        display: inline-block; }
    #main .layout-content .area {
      background: white; }
    #main .layout-content .area-title {
      font-size: 28px;
      text-align: center;
      display: inline-block; }

.drop-head {
  border-bottom: solid black 5px;
  text-align: left;
  padding: 5px 15px;
  cursor: pointer; }
  .drop-head .text {
    font-size: 24px; }
  .drop-head.active {
    border-bottom: solid black 3px;
    box-shadow: 0px 0px 4px #000; }

.component-wrap {
  position: relative;
  text-align: left; }
  .component-wrap .item-name {
    font-size: 16px;
    font-weight: 500; }
  .component-wrap .toggle-code {
    position: absolute;
    top: 0;
    right: 0; }

.drop-content {
  padding: 15px 15px;
  text-align: left; }

.item-wrap {
  padding: 0;
  text-align: center; }
  .item-wrap.left-50.left {
    padding: 10px 10px 0 0; }
  .item-wrap.left-50.right {
    padding: 10px 0 0 10px; }

@media screen and (max-width: 320px) {
  .item-wrap.left-50 {
    width: 100%;
    padding: 0; } }
@media screen and (max-width: 740px) {
  .item-wrap.left-50 {
    width: 100%;
    padding: 0; }
    .item-wrap.left-50.left {
      padding: 0; }
    .item-wrap.left-50.right {
      padding: 0; } }
.width-example {
  background: #EEE;
  border: solid black 1px;
  padding: 10px;
  white-space: nowrap; }

.mock-layout {
  position: relative;
  height: 300px;
  border: solid black 2px; }
  .mock-layout .fixed-scroll-wrap {
    padding: 10px; }
  .mock-layout.navbar-example .fixed-scroll-wrap {
    bottom: 0; }
  .mock-layout.navbar-example .fixed-navbar {
    border-bottom: solid black 2px;
    text-align: center;
    padding-top: 20px; }
  .mock-layout.footer-example .fixed-scroll-wrap {
    top: 0; }
  .mock-layout.footer-example .fixed-footer {
    border-top: solid black 2px;
    text-align: center;
    padding-top: 10px; }
  .mock-layout .layout-iframe {
    height: 100%; }
  .mock-layout .arrow-wrap {
    position: relative;
    height: 100%; }
  .mock-layout .arrow.right {
    top: 50%;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px; }
  .mock-layout .btn {
    border-radius: 0;
    border-left: none; }

/*# sourceMappingURL=main.css.map */
