<div id="page_1" >
  Page 1
  <div class="">Foo: <%= content.foo %></div>
  <div class="">Bar: <%= content.bar %></div>
  <% if( content ){ %>
    <%- templates['test']({
      displayString: content.foo
    }) %>
  <% } %>
</div>
